html {
  background-color:darkcyan;
  font-family: Arial, Helvetica, sans-serif;
}

#keyboard {
	height: 500%;
  position: absolute;
  left:40%;
  top:400px;
}

#main {
  margin: auto;
  position: absolute;
  top:50%
}

#board {
  top: -500px;
}

h1 {
  color:white;
  text-align: center;
}


h2 {
  color:black;
  text-align: center;
}